{% extends 'base.html' %}
{% load static %}
{% load static webpush_notifications %}


{% block content %}
    <h2>Your Subscriptions</h2>
    <ul>
        {% for subscription in subscriptions %}
            <li>
                {{ subscription.city }} ({{ subscription.get_period_display }}) - {{ subscription.get_method_display }}
                <a href="{% url 'edit_subscription' subscription.id %}">Edit</a>
                <a href="{% url 'delete_subscription' subscription.id %}">Delete</a>
            </li>
        {% endfor %}

        <hr> {# розділяюча полоса#}

        <ul>
        {% for subscription in subscriptions %}
            <li id="{{ subscription.city }}">
                {{ subscription.city }} - <span class="temperature">Download...</span>
            </li>
        {% endfor %}
        </ul>

        <div id="webpush-container">
            {% webpush_button %}
        </div>

        <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('ul li').forEach(function(listItem) {
                const city = listItem.id;
                fetch(`/api_get_weather/?search_query=${city}`, {
                    method: 'GET',
                })
                .then(response => response.json())
                .then(data => {
                    const temperatureElement = listItem.querySelector('.temperature');
                    if ('temperature' in data) {
                        temperatureElement.innerText = `Temperature: ${data.temperature}°C`;
                    } else {
                        temperatureElement.innerText = `Error: ${data.error}`;
                    }
                })
                .catch(error => {
                    console.error(`Error while executing a query for a city ${city}:`, error);
                });
            });
        });
        </script>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const pushButton = document.querySelector("#webpush-container button");

                if (pushButton) {
                    pushButton.click();

                    document.getElementById("webpush-container").style.display = "none";
                }
            });
        </script>
    </ul>

{% endblock %}
